img {
  display: block;
  margin: auto;
  height: 60vh;
}

h2 {
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}

.button {
  display: block;
  margin: 0.5rem auto;
  font-size: 1.5rem;
}

.button2 {
  background-color: green;
}

input {
  margin: auto;
  display: block;
  margin-bottom: 0.5rem;
}

form {
  margin-top: 0.5rem;
}

.submit {
  display: block;
  margin: auto;
}

.message {
  text-align: center;
}

.bulb-container {
  height: 60vh;
  width: 30vw;
  margin: auto;
  background-image: url(off.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.bulb-container--on {
  background-image: url(on.png);
}

.pay-button {
  margin: auto;
  display: block;
}
